<div id="<%= dom_id recipe %>">
  <p>
    <h1 class='text-center'><%= recipe.name %></h1>
  </p>
  <div class='d-flex justify-content-between'>
    <div>
      <p>
        <strong>Preparation time:</strong>
        <%= recipe.prep_time %> hour(s)
      </p>

      <p>
        <strong>Cooking time:</strong>
        <%= recipe.cooking_time %> hour(s)
      </p>

      <p>
        <strong>Description:</strong>
        <%= recipe.description %>
      </p>
    </div>

    <div>
      <p>
        <strong>Public:</strong>
        <%= recipe.public %>
      </p>
    </div>
  </div>
</div>
