
  <h2 class="my-5">Recipes</h2>
  <% @recipes.each do |recipe| %>
    <div id="recipes" class='shadow p-3 mb-5 bg-white rounded container'>
      <div id="<%= dom_id recipe %>" class='d-flex justify-content-between'>
        <p>
          <strong><%= link_to recipe.name, recipe %></strong>
        </p>

        <p>
          Description for the recipe.<br>
          <%= recipe.description %>
        </p>
      </div>
      <p>
        <%= button_to " REMOVE", recipe, method: :delete, class: 'bi bi-trash3 btn btn-outline-danger btn-sm' %>
      </p>
      
    </div>
  <% end %>


<%= link_to " New recipe", new_recipe_path, class: 'bi bi-plus-circle btn btn-primary link-light' %>
