<section class="container">
  <p style="color: green"><%= notice %></p>
  <h1 class="mb-5">Foods for user: <%=current_user.name%></h1>
  <table class="table table-striped table-hover">
    <tr>
      <th  class="text-center" scope="col">Food</th>
      <th class="text-center">Measurement Unit</th>
      <th class="text-center">Unit Price</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td class="text-center" ><%= link_to food.name, food %></td>
        <td class="text-center"><%= food.measure_unit %></td>
        <td class="text-center">$<%= food.price %></td>
        <td class="text-center"><%= food.quantity %></td>
        <td class="text-center"><%= button_to "Destroy this food", food, method: :delete, class: "bi bi-trash3 btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </table>
  <i class="bi bi-plus-circle btn btn-primary link-light">
    <%= link_to "New food", new_food_path, class:"link-light p-1" %>
  </i>
</section>
