<section class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Foods</h1>
  <table class="table table-bordered">
    <tr>
      <th scope="col">Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food %></td>
        <td><%= food.measure_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td><%= button_to "Destroy this food", food, method: :delete, class: "bi bi-trash3 btn btn-outline-danger btn-sm"
 %></td>
      </tr>
    <% end %>
  </table>
  <i class="bi bi-plus-circle btn btn-primary  link-light 

 "><%= link_to "New food", new_food_path, class:" link-light p-1



" %>
</i>

  
</section>
