<h1>Editing recipe food</h1>
<% @foods = Food.where(user_id: current_user.id) %>
<%= form_with(model: @recipe_food) do |form| %>
  <% if @recipe_food.errors.any? %>
    <div class="text-danger">
      <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>
      <ul>
        <% @recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :quantity, class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.hidden_field :recipe_id %>
  </div>
  <div class="form-group my-3">
    <%= form.label :food_id, class: "form-label" %>
    <%= form.select :food_id, options_from_collection_for_select(@foods, :id, :name, params[:food_id]), { prompt: "Select Food" }, class: "form-select" %>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
